<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="chatbubbles"></ion-icon><b>livechat</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div id="answers">
            <div class="answer" *ngFor="let chatter of (chatt | async)?.allchats">
                <ion-card>
                  <ion-label text-wrap> {{chatter.author}} : {{ chatter.Message }} </ion-label>
                </ion-card>
            </div>
        </div>
    </ion-card>

          <ion-card>
              <ion-item>
                <ion-input type="text" [(ngModel)]="Message">
                    <ion-textarea rows="4" placeholder="Enter Your Message Here.."></ion-textarea>
                </ion-input>
              </ion-item>

              <ion-button fill="solid" expand="block" color="dark" (click)="addAnswerr()">Send Your Message !</ion-button>

          </ion-card>
</ion-content>
