<ion-header>
  <ion-toolbar>
      <ion-button (click)="rotate()" ion-button icon-only>
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title>My Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div id="recipes">
        <div class="recipe" *ngFor="let recipe of (userrecipe | async)?.dessertinfos">
            
            <ion-card>
                <ion-img src="https://ucarecdn.com/{{ recipe.image }}/"></ion-img>
            </ion-card>
         
           <ion-list>

              <ion-item>
                  <textarea> RecipeIngredients : {{ recipe.Ingredients }} </textarea>
              </ion-item>

             <ion-item>
                <textarea> RecipeDesc : {{ recipe.RecipeDesc }} </textarea>
             </ion-item>
  
            </ion-list>
        </div>
      </div>
  </ion-card>

</ion-content>
