<ion-header>
  <ion-toolbar>
      <ion-button color="dark" (click)="rotate()" ion-button icon-only>
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
      <div style="text-align:center">
    <ion-title>My Recipes</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div id="recipes">
        <div class="recipe" *ngFor="let recipe of (userrecipe | async)?.dessertinfos">
            
            <ion-card>
                <ion-img src="https://ucarecdn.com/{{ recipe.image }}/"></ion-img>
            </ion-card>
         
           <ion-list>

              <ion-item>
                <ion-label text-wrap><b>Ingredients :</b> {{ recipe.Ingredients }} </ion-label>
              </ion-item>

             <ion-item>
              <ion-label text-wrap><b>Description :</b> {{ recipe.RecipeDesc }} </ion-label>
             </ion-item>
  
            </ion-list>
        </div>
      </div>
  </ion-card>

</ion-content>
