:host {
    ion-content {
      --background: url('https://cdn.yemek.com/uploads/2015/04/cilekli-profiterol-tarifi.jpg') no-repeat 50% 30%;
    }
  }
 
  .custom-fab {
    bottom: 120px;
    right: 40px;
  }

  .fonta{
    font-size:1.1em;
    bottom:0px;
  }