<ion-header>
  <ion-toolbar>
    <ion-title><p>LOGIN</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button fill="solid" expand="block" color="dark" (click)="login()">Login<ion-icon name="arrow-dropright"></ion-icon></ion-button>
  <ion-button fill="solid" expand="block" color="dark" (click)="rotate()">Go To Register<ion-icon name="person-add"></ion-icon></ion-button>

 
    
  
    
         
          <ion-badge color="light" class="fonta">
              <ion-icon name="logo-twitter"></ion-icon>
              <ion-label>@dessertrecipeskou</ion-label>
            </ion-badge>
            <ion-badge color="light" class="fonta">
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-label><a href="https://www.instagram.com/dessertrecipeskou/">@dessertrecipeskou</a> </ion-label>
              </ion-badge>
              <ion-badge color="light" class="fonta">
                  <ion-icon name="logo-facebook"></ion-icon>
                  <ion-label><a href="https://www.facebook.com/Dessert-Recipe-441493119970681/">@dessertrecipeskou</a> </ion-label>
                </ion-badge>
      
   
   
</ion-content>
