<ion-header>
  <ion-toolbar>
    <ion-button (click)="rotate()" ion-button icon-only>
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="recipes">
      <div class="recipe" *ngFor="let recipe of (userrecipe | async)?.dessertinfos">
        <ion-card>
            <ion-item>
                <ion-label text-wrap> Writer : {{ recipe.email }} </ion-label>
             </ion-item>

            <ion-card>
                <ion-img src="https://ucarecdn.com/{{ recipe.image }}/"></ion-img>
            </ion-card>
         
           <ion-list>

             <ion-item>
                  <ion-label text-wrap> RecipeIngredients : {{ recipe.Ingredients }} </ion-label>
             </ion-item>

             <ion-item>
                <ion-label text-wrap> RecipeDesc : {{ recipe.RecipeDesc }} </ion-label>
             </ion-item>
  
            </ion-list>
        </ion-card>
      </div>
    </div>
</ion-content>
