#myInput {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}

.camera {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: black;
}