<ion-header>
  <ion-toolbar>
      <ion-button size="medium" color="dark"(click)="rotate()" ion-button icon-only>
          <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </ion-button>
      <div style="text-align:center">
    <ion-title><ion-icon name="chatbubbles"></ion-icon><b><ion-text color="danger">Comments</ion-text></b></ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div id="recipes">
        <div class="recipe" *ngFor="let recipe of (commentt | async)?.allcomments">
            <ion-card>
              <ion-label text-wrap> {{recipe.author}} : {{ recipe.Comment }} </ion-label>
            </ion-card>
        </div>
      </div>
  </ion-card>

    <ion-card>
      <ion-item>
        <ion-input type="text" [(ngModel)]="Comment">
            <ion-textarea rows="4" placeholder="Enter Your Comment Here.."></ion-textarea>
        </ion-input>
      </ion-item>
      <ion-button fill="solid" expand="block" color="dark" (click)="addComment()">Add Comment !</ion-button>
    </ion-card>
    
    

</ion-content>
